@import "tailwindcss";

:root {
  --background: #fffefd;
  --primary: #ff5913;
  --textColor: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--textColor);
  --font-sans: var(--font-dm-sans);
  --font-inter: var(--font-Inter);
}

body {
  background: var(--background);
  font-family: var(--font-inter);
}
